@font-face {
    font-family : "NanumSquareL";
    src : url('./Fonts/NanumSquareL.ttf') format("truetype");
    font-style : normal;
    font-weight : normal;
}
.container {
    display : flex;
    align-items : center;
    width : 100%;
    padding-top : 0.3rem !important;
    padding-bottom : 0.3rem !important;
    background-image : url("../Image/full_background.png");
    background-repeat : no-repeat;
    background-size : cover;
    font-family : NanumSquareL;
    color : #ffffff;
}

.weather_icon {
    width : 10rem;
    text-align : center;
    /*flex : 1 1 15rem;*/
    /*vertical-align : center;*/
}

.temperature {
    font-weight : bold;
    font-size : 2rem;
    padding : 1rem 1rem 0.7rem 2rem;
    text-align : center;
}

#c {
    font-size : 1rem;
}

.c {
    font-size : 0.7rem;
}

.temperature_info {
    display : flex;
    flex-direction : column;
    width : 35rem;
}

.temperature_minmax {
    padding-bottom : 0.3rem;
    font-weight : bold;
}

#temperature_min {
    color : blue;
    font-weight : bold;
}

#temperature_max {
    color : red;
    font-weight : bold;
}
/*.inner_box {*/
/*    display : flex;*/
/*    align-items : center;*/
/*    justify-content : space-between;*/
/*    margin-left : 2.7rem !important;*/
/*    margin-right : 2.7rem !important;*/
/*    font-weight : bold;*/
/*}*/
.date {
    display : flex;
    flex-direction : column;
    padding : 0 0 0 3.5rem !important;
    margin-right : 1rem !important;
    font-weight : bold;
}

#year {
    float : right;
    text-align : right;
}

#mon {
    font-size : 1.5rem;
    font-weight : bold;
    text-align : right;
}

.time {
    display : flex;
    background-image : url("../Image/time_background.png") !important;
    background-repeat : no-repeat !important;
    background-size : cover  !important;
    min-height: 95% !important;
    background-position: center !important;
    margin-left : 2rem;
    font-size : 2rem;
    padding-top : 0.6rem;
    padding-right : 1.5rem;
    text-weight : bold;

}

#ampm {
    color : darkgrey;
    font-weight : bold;
    font-size : 0.8rem;
    padding-right : 0.5rem;
    padding-left : 1rem;
}

#time {
    font-size : 2.3rem;
    font-weight : bold;
    padding-top : 0.4rem;
}
img.icon {
    width: 6rem;
    height: 4rem;
    margin-left : 0.9rem;
    vertical-align: middle;
}
